spring:
  application:
    name: backend

  datasource:
    url: jdbc:mariadb://${DB_HOST}:3306/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate.format_sql: false
    database-platform: org.hibernate.dialect.MariaDBDialect

server:
  address: 127.0.0.1
  port: 8080
  ssl:
    enabled: false
